* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 250px 4fr;
  font-family: sans-serif;
  height: 100vh;
  background-color: #ddd;
}

.icon {
  width: 24px;
}

.profile-image-sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-image-lg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

#sidebar {
  color: #fff;
  background-color: #44caff;
}
#sidebar h1 {
  margin: 30px 30px 0;
  font-size: 1.8rem;
}
#sidebar ul {
  margin: 70px 30px;
}
#sidebar ul li {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 20px;
  width: fit-content;
  margin: 30px 0;
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
}

main header {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  row-gap: 50px;
  padding: 30px 50px;
  background-color: #fff;
}
main header #search-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 15px;
}
main header #search-container .icon {
  align-self: center;
  cursor: pointer;
}
main header #search-container input {
  align-self: center;
  width: 90%;
  min-width: 100px;
  padding: 7px;
  height: 20px;
  background: #ddd;
  border: none;
  border-radius: 15px;
}
main header #account-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 10px;
  justify-self: end;
  justify-items: center;
  align-items: center;
}
main header #account-container .icon {
  cursor: pointer;
}
main header #account-container p {
  font-weight: 800;
}
main header #user-display-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
}
main header #user-display-container p:first-child {
  font-size: 0.9rem;
  font-weight: 600;
}
main header #user-display-container p:last-child {
  font-size: 1.4rem;
  font-weight: 800;
}
main header #actions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  align-items: center;
}
main header #actions-container button {
  height: 40px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background-color: #44caff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#main-content-container {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  column-gap: 20px;
  padding: 40px 20px;
}
#main-content-container #projects-container h3 {
  margin-bottom: 15px;
}
#main-content-container #project-cards {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#main-content-container .project-card {
  position: relative;
  padding: 40px 30px 100px;
  background-color: #fff;
  border-left: 9px solid #dbbb06;
  border-radius: 10px;
  cursor: pointer;
}
#main-content-container .project-card h4 {
  font-size: 1.1rem;
}
#main-content-container .project-card p {
  font-size: 0.85rem;
  line-height: 18px;
  color: #666;
}
#main-content-container .project-card ul {
  position: absolute;
  bottom: 25px;
  right: 40px;
}
#main-content-container .project-card ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}
#main-content-container .project-card ul li:last-child {
  margin-right: 0;
}
#main-content-container #right-sidebar #announcements-container {
  margin-bottom: 50px;
}
#main-content-container #right-sidebar #announcements-container h3 {
  margin-bottom: 15px;
}
#main-content-container #right-sidebar #announcements-container #announcement-cards {
  padding: 35px;
  background-color: #fff;
  border-radius: 10px;
}
#main-content-container #right-sidebar #announcements-container #announcement-cards h4 {
  margin-bottom: 4px;
  font-size: 0.95rem;
}
#main-content-container #right-sidebar #announcements-container #announcement-cards p {
  font-size: 0.75rem;
  line-height: 15px;
  color: #666;
}
#main-content-container #right-sidebar .announcement-card {
  cursor: pointer;
}
#main-content-container #right-sidebar .announcement-card:first-child {
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
#main-content-container #right-sidebar .announcement-card:nth-child(2) {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
#main-content-container #right-sidebar .announcement-card:last-child {
  padding-top: 25px;
}
#main-content-container #trending-container h3 {
  margin-bottom: 15px;
}
#main-content-container #trending-container #trending-cards {
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}
#main-content-container #trending-container .trending-card {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
#main-content-container #trending-container .trending-card p {
  font-size: 0.85rem;
}
#main-content-container #trending-container .trending-card p:first-child {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}
#main-content-container #trending-container .trending-card p:last-child {
  color: #666;
}
#main-content-container #trending-container .trending-card:first-child {
  padding-top: 0;
}
#main-content-container #trending-container .trending-card:last-child {
  padding-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
