$primary-text-color: #000;
$secondary-text-color: #fff;
$white: #fff;
$gray: #ddd;
$orange: rgb(219, 187, 6);
$blue: rgb(68, 202, 255);

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: min(250px) 4fr;
  font-family: sans-serif;
  height: 100vh;
}

.icon { width: 24px; }

#sidebar {
  color: $secondary-text-color;
  background-color: $blue;

  h1 {
    margin: 30px 30px 0;
    font-size: 1.8rem;
  }

  ul {
    margin: 70px 30px;

    li {
      display: grid;
      grid-template-columns: 24px 1fr;
      column-gap: 20px;
      width: fit-content;
      margin: 30px 0;
      font-size: 1.3rem;
      font-weight: 600;
      list-style: none;
      cursor: pointer;
    }
  }
}

main header {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  row-gap: 50px;
  padding: 20px 50px;

  #search-container {
    input {
      width: 75%;
      min-width: 100px;
      padding: 7px;
      background: $gray;
      border: none;
      border-radius: 15px;
    }
  }

  #account-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
  }

  #user-display-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
  }

  #actions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

#main-content-container {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  column-gap: 20px;
  padding: 40px 20px;
  background-color: $gray;

  #projects-container {
    h3 {
      margin-bottom: 15px;
    }
  }

  #project-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .project-card {
    position: relative;
    padding: 35px 30px 80px;
    background-color: $white;
    border-left: 9px solid $orange;
    border-radius: 10px;

    ul {
      position: absolute;
      bottom: 30px;
      right: 30px;
      
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }

  #right-sidebar {
    #announcements-container {
      margin-bottom: 50px;

      h3 {
        margin-bottom: 15px;
      }

      #announcement-cards {
        padding: 35px;
        background-color: $white;
        border-radius: 10px;
      }
    }
    
    .announcement-card {
      &:first-child {
        padding-bottom: 25px;
        border-bottom: 1px solid $gray;
      }

      &:nth-child(2) {
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $gray;
      }

      &:last-child {
        padding-top: 25px;
      }
    }
  }

  #trending-container {
    h3 {
      margin-bottom: 15px;
    }
    
    #trending-cards {
      padding: 25px;
      background-color: $white;
      border-radius: 10px;
    }

    .trending-card {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-top: 15px;
      padding-bottom: 15px;

      &:first-child { padding-top: 0; }
      &:last-child { padding-bottom: 0; }
    }
  }
}